.nav-btn {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-btn img {
  height: 100%;
  width: 100%;
}
.navbar-img {
  height: 100px;
  width: 100px;
}
